#choropleth_map {
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  /*height: 1000px;
	width: 800px;*/
}

.bgwhite {
  background-color: #ffffff;
}

.background_a {
  background-color: rgb(243, 237, 176);
}

.background_b {
  background-color: rgb(189, 222, 253);
}

.background_c {
  background-color: rgb(254, 225, 225);
}

.background_icons {
  background-color: rgb(157, 203, 246);
}

.bubble_plot_chart {
  flex: 4;
}

.bubble_plot_text {
  flex: 3;
}

.generalTextPadding {
  flex: 1;
  padding: 10px;
}

.headerTint{
  /* filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg); */
  background-color: rgb(210, 193, 13);
}

/* color blocks */
.midEast {
  color: #9467bd;
}
.ceEurope {
  color: #1f77b4;
}
.cois {
  color: #ff7f0e;
}
.eastAsia {
  color: #2ca02c;
}
.carib {
  color: #d62728;
}
.na {
  color: #aa837b;
}
.sAsia {
  color: #e377c2;
}
.SEA {
  color: #7f7f7f;
}
.subSahar {
  color: #8b8b20;
}
.WE {
  color: #16a0af;
}

.factor-icon {
  width: 120px;
  filter: grayscale(100%);
}

.factor-icon:hover {
  filter: grayscale(0%);
  filter: brightness(110%);
}

.sp {
  display: none;
}

#gdp_sp {
  display: flex;
}

body {
  font-size: large;
  font-family: 'Inter', sans-serif !important;
  background-color: #ffffff;
}

.vega-bind-name {
  padding: 5px;
}

#flourish-credit {
  display: none !important;
}

#headline {
  font-family: "Sora", sans-serif;
  font-size: 4em;
}

.container {
  border: 1px solid;
  box-shadow: 5px 10px #8ea5e0;
  overflow: hidden;
  border-radius: 30px;
}


select {
  background-color: rgb(255, 255, 255);
  padding: 2px;
}

.pop {
  font-size: xx-large;
  text-shadow: 2px 2px 2px rgb(255, 255, 255),
  2px 2px 1px rgb(255, 255, 255); 
}

#container .content .top,
#container .content .bottom {
	position: absolute;
}

#container .content .top {
	top: 0;
}

#container .content .bottom {
	bottom: 0;
}

#container .content .left,
#container .content .center,
#container .content .right { 
	position: relative;
	width: 50%;
}

#container .content .left {
	float: left;
}

#container .content .center {
	float: left;
	padding-left: 19px;
}
